body {
    font: 400 15px Tahoma, sans-serif;
    line-height: 1.8;
    color: #040404;
    font-size-adjust: initial;
    background-color: pink;
  
    
}

h1, h2{
    
    
    font-weight: bold;
    background-color: pink;
    color: red;

    padding:2px ;
    margin:5px;
    text-align: center;   
}
p{
    font-size: 1.2em
}
