body {
      font: 400 15px Tahoma, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
h1 {
      background-color:aliceblue; 
      color: black;
      text-transform: uppercase;
      padding: 100px 10px;
      text-align: center;     
  }

section{
  padding: 3%;
  background: aliceblue;
  margin: 15px;
}